{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>눈똑들이다</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <img src="{% static 'images/NoonDDock.jpg' %}">
                <header> <a href="{% url 'accounts:login' %}">로그인</a> | <a href="{% url 'accounts:signup' %}"><span>회원가입</span></a></header>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="text" placeholder="아이디를 입력해주세요." class="input" name="username">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="비밀번호를 입력해주세요." class="password" name="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">아이디 찾기 | 비밀번호 찾기</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit">로그인하기</button>
                    </div>
                </form>

               

    </section>

    <footer>
        <div class="footercontainer">
            <div class="container1">
            <div class="inform1">
                <span>이용약관&nbsp;</span>
                <span>&nbsp;개인정보처리방침</span>
            </div>
            <div class="inform2">
                <span>상호명: 눈똑&nbsp;&nbsp;</span>
            </div>
            <div  class="copy"><span>Copyright © 한성대학교 멋쟁이사자처럼 11기 All rights reserved.</span></div>
        </div>

        <div class="container2">
            <span  class="inform5">
                <br><br><br><br>
                PM: 김지은<br>
                DE: 임채현<br>
                BE: 박태범, 최용석<br>
                FE: 이나경, 이수아</span>
        </div>
    </div>
    </footer>
    <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
</body>
</html>
