{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>눈똑들이다</title>
    <link rel="stylesheet" href="{% static 'css/join.css' %}">
    
</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <img src="{% static 'images/NoonDDock.jpg'%}">
                <header> <a href="{% url 'accounts:login' %}">로그인</a> | <a href="{% url 'accounts:signup' %}"><span>회원가입</span></a></header>
                <form action="" id="signup-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field input-field">
                        <div class="label-container">
                            <label for="name">이름</label>
                        </div>
                        <input type="name" id="name" placeholder="*150자 이하 문자, 숫자, @/./+/-/_ 만 가능합니다." class="name" name="username">
                    </div>
                    
                    <div class="field input-field">
                        <div class="label-container">
                            <label for="email">이메일</label>
                        </div>
                        <input type="email" id="email" placeholder="" class="email" name="email">
                    </div>
                    
                    <div class="field input-field">
                        <div class="label-container">
                            <label for="password">비밀번호</label>
                        </div>
                        <input type="password" id="password" placeholder="*최소 8자 이상" class="password" name="password1">
                    </div>
                    
                    <div class="field input-field">
                        <div class="label-container">
                            <label for="passwordcf">비밀번호 확인</label>
                        </div>
                        <input type="password" id="passwordcf" placeholder="" class="passwordcf" name="password2">
                    </div>
                    
                   
                    <div class="field input-field">
                        <div class="label-container">
                            <label for="member-choice">회원 선택</label>
                        </div>
                        <div class="member-choice-container">
                            <input type="radio" id="senior-member" name="membership" value="senior" class="choice-radio">
                            <label for="senior-member" class="choice-label">시니어 회원</label>
                            
                            <input type="radio" id="child-member" name="membership" value="child" class="choice-radio">
                            <label for="child-member" class="choice-label">자녀 회원</label>
                        </div>
                    </div>

                    <div class="field button-field">
                        <button type="submit">회원가입하기</button>
                    </div>
                    
                </form>
                
                

               

    </section>

    <footer>
        <div class="footercontainer">
            <div class="container1">
            <div class="inform1">
                <span>이용약관&nbsp;</span>
                <span>&nbsp;개인정보처리방침</span>
            </div>
            <div class="inform2">
                <span>상호명: 눈똑&nbsp;&nbsp;</span>
            </div>
            <div  class="copy"><span>Copyright © 한성대학교 멋쟁이사자처럼 11기 All rights reserved.</span></div>
        </div>

        <div class="container2">
            <span  class="inform5">
                <br><br><br><br>
                PM: 김지은<br>
                DE: 임채현<br>
                BE: 박태범, 최용석<br>
                FE: 이나경, 이수아</span>
        </div>
    </div>
    </footer>
    <script type="text/javascript" src="{% static 'css/join.css' %}"></script>
</body>
</html>
