<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>눈똑들이다</title>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="My.css">
        <script type="text/javascript" src="my_script.js"></script>
    </head>

    <body>
        <nav>
            <div class="logo-container">
                <a href="/MainPage/main.html"><img src="logo.png" alt="Logo"></a> 
                <div class="logo-text">NoonDDock</div> 
            </div>
            <div class="navContainer1">
                
                <div id="NoonDDock"><a href="/NoonDDockPage/NoonDDock.html" class="green">눈똑들이기</a></div>
                <div id="family"><a href="/MyFamilyPage/MyFamily.html" class="green">우리 가족 눈똑</a></div>
                <div id="my" class="underline"><a href="/MyNoonDDockPage/My.html" class="green">나의 눈똑</a></div>
            </div>

            <div class="navContainer2">
                <div class="login"><a href="/LoginPage/login.html" class="green">로그인 |</a></div>
                <div class="join"><a href="/JoinPage/join.html" class="green">회원가입</a></div>
            </div>
        </nav>
        
        <div class="titlecon">
        <p class="maintitle">나의 눈똑</p>
    </div>
    
    <section class="gallery">


            <div class="center-section">
            <div class="picAndNameContainer">
                <div class="picAndName">
                  <div class="imgContainer">
                    <img src="image1.png" alt="">
                    <button class="noon-button" onclick="toggleHeart(this)">
                        <span class="noon-number">151</span>
                        <img src="group 166.png" class="noon-image">
                    </button>
                </div>
                  <p class="spot">강릉</p>
                  <div class="buttons">
                    <a href="/InformPage/Inform.html" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                </div>
                </div>
                <div class="picAndName">
                  <div class="imgContainer">
                    <img src="image2.png" alt="">
                    <button class="noon-button" onclick="toggleHeart(this)">
                        <span class="noon-number">151</span>
                        <img src="group 166.png" class="noon-image">
                    </button></div>
                  <p class="spot">휴양지 느낌의 감성 분위기 캠핑 스팟</p>
                  <div class="buttons">
                    <a href="/InformPage/Inform.html" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                </div>
                </div>
                <div class="picAndName">
                    <div class="imgContainer">
                        <img src="image3.png" alt="">
                        <button class="noon-button" onclick="toggleHeart(this)">
                            <span class="noon-number">151</span>
                            <img src="group 166.png" class="noon-image">
                        </button></div>
                    <p class="spot">휴양지 느낌의 감성 분위기 캠핑 스팟</p>
                    <div class="buttons">
                        <a href="/InformPage/Inform.html" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                    </div>
                </div>
              </div>
            </div>
    

    </section>
        <footer>
            <div class="footercontainer">
                <div class="container1">
                <div class="inform1">
                    <span>이용약관&nbsp;</span>
                    <span>&nbsp;개인정보처리방침</span>
                </div>
                <div class="inform2">
                    <span>상호명: 눈똑&nbsp;&nbsp;</span>
                </div>
                <div  class="copy"><span>Copyright © 한성대학교 멋쟁이사자처럼 11기 All rights reserved.</span></div>
            </div>
    
            <div class="container2">
                <span  class="inform5">
                    <br><br><br><br>
                    PM: 김지은<br>
                    DE: 임채현<br>
                    BE: 박태범, 최용석<br>
                    FE: 이나경, 이수아</span>
            </div>
        </div>
        </footer>
       
        </body>

    </html>

        