{% extends 'base.html' %}
{% load static %}
{%block title %}눈똑들이다{% endblock%}
{% block link %}
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css"
      href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/MyFamily.css' %}">
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% block content %}
<section id="sec1">
    <div class="cWidth" id="divBanner">
        <p>우리 가족에게 공유,<br>지금 눈똑 초대장을 보내보세요</p>
        <img src="{% static 'images/kakaotalk.png' %}" style="position:absolute; left:17vw; bottom:7vw; width:4vw">
        <div style="position:absolute; bottom:3vw; left:17vw;">카카오톡으로<br>공유하기</div>
        <img src="{% static 'images/band.png' %}" style="position:absolute; left:25vw; bottom:7vw; width:4vw">
        <div style="position:absolute; bottom:3vw; left:25vw;">밴드로<br> 공유하기</div>
        <img src="{% static 'images/banner.png' %}" alt="배너 이미지">
        
    </div>
</div>
    
</section>

<section class="chat">
    
    <div id="comment">오늘의 눈똑방 랭킹
        <a href="/FamilyPage/Family.html"><div class="make"><img src="{% static 'images/Group 493.png' %}">&nbsp;눈똑방 만들기</div></a>
    </div>
    </div>
    <div id="comment-write">
        <div id="square"><p class="squarename">시후정후네 ❤️</p>
        <div id="star"><img src="{% static 'images/noon.png' %}">65</div></div>
    </div>

</section>
{% endblock %}
