{% extends 'base.html' %}
{% load static %}
{%block title %}눈똑들이다{% endblock%}
{% block link %}
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css"
      href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/MyFamily.css' %}">
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<!-- kakao sdk 호출 -->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script type="text/javascript">
  // SDK를 초기화 JavaScript 키를 설정
  Kakao.init('c12664afd24af2417558bb2b762ad366');

  // SDK 초기화 여부를 판단
  console.log(Kakao.isInitialized());
  img = "{% static 'img/NoonDDock.jpg' %}"
  function kakaoShare() {
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: '눈똑 ',
        description: "저와 함께 눈똑해요!",
        imageUrl: img,
        link: {
          webUrl: 'http://noonddock.site/accounts/login',
        },
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            webUrl: 'http://noonddock.site/accounts/login',
          },
        },
      ],
      // 카카오톡 미설치 시 카카오톡 설치 경로이동
      installTalk: true,
    })
  }
</script>
{% endblock %}
{% block content %}
<section id="sec1">
    <div class="cWidth" id="divBanner">
        <p>우리 가족에게 공유,<br>지금 눈똑 초대장을 보내보세요</p>
        <div style="position:absolute; bottom:3vw; left:17vw;"><a id="kakao-link-btn" href="javascript:kakaoShare()">
          <img src="{% static 'img/kakaotalk.png' %}" style="position:absolute; left:0vw; bottom:4vw; width:4vw">
        카카오톡<br>공유하기</a></div>
        <img src="{% static 'img/band.png' %}" style="position:absolute; left:25vw; bottom:7vw; width:4vw">
        <div style="position:absolute; bottom:3vw; left:25vw;">밴드로<br> 공유하기</div>
        <img src="{% static 'img/banner3.png' %}" alt="배너 이미지">
        
    </div>
</div>
    
</section>

<section class="chat">
    
    <div id="comment">오늘의 눈똑방 랭킹
        <a href="{% url 'family:createFamily'%}"><div class="make"><img src="{% static 'img/Group 493.png' %}">&nbsp;눈똑방 만들기</div></a>
    </div>
    </div>
    {% for family in families %}
    <div id="comment-write">
        <div id="square"><p class="squarename">{{family.familyname}}</p>
        <div id="star"><img src="{% static 'img/noon.png' %}">65</div></div>
    </div>
    {% endfor %}

</section>
{% endblock %}
