{% load static %}
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>눈똑들이다</title>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
        href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/MyFamily.css' %}">
  <script type="text/javascript" src="script.js"></script>
</head>

<body>
<nav>
  <div class="logo-container">
    <img src="{% static 'images/logo.png' %}" alt="Logo">
    <div class="logo-text">NoonDDock</div>
  </div>
  <div class="navContainer1">

    <div id="NoonDDock"><a href="/NoonDDockPage/NoonDDock.html" class="green">눈똑들이기</a></div>
    <div id="family" class="underline"><a href="/MyFamilyPage/MyFamily.html" class="green">우리 가족 눈똑</a></div>
    <div id="my"><a href="" class="green">나의 눈똑</a></div>
  </div>

  <div class="navContainer2">
    <div class="login"><a href="{% url 'accounts:login'%}" class="green">로그인 |</a></div>
    <div class="join"><a href="{% url 'accounts:signup'%}" class="green">회원가입</a></div>
  </div>
</nav>

<section id="sec1">
    <div class="cWidth" id="divBanner">
        <p>우리 가족에게 공유,<br>지금 눈똑 초대장을 보내보세요</p>
        <img src="{% static 'images/kakaotalk.png' %}" style="position:absolute; left:17vw; bottom:7vw; width:4vw">
        <div style="position:absolute; bottom:3vw; left:17vw;">카카오톡으로<br>공유하기</div>
        <img src="{% static 'images/band.png' %}" style="position:absolute; left:25vw; bottom:7vw; width:4vw">
        <div style="position:absolute; bottom:3vw; left:25vw;">밴드로<br> 공유하기</div>
        <img src="{% static 'images/banner.png' %}" alt="배너 이미지">
        
    </div>
</div>
    
</section>

<section class="chat">
    
    <div id="comment">오늘의 눈똑방 랭킹
        <a href="/FamilyPage/Family.html"><div class="make"><img src="{% static 'images/Group 493.png' %}">&nbsp;눈똑방 만들기</div></a>
    </div>
    </div>
    <div id="comment-write">
        <div id="square"><p class="squarename">시후정후네 ❤️</p>
        <div id="star"><img src="{% static 'images/noon.png' %}">65</div></div>
    </div>

</section>


<footer>
  <div class="footercontainer">
    <div class="container1">
      <div class="inform1">
        <span>이용약관&nbsp;</span>
        <span>&nbsp;개인정보처리방침</span>
      </div>
      <div class="inform2">
        <span>상호명: 눈똑&nbsp;&nbsp;</span>
      </div>
      <div class="copy"><span>Copyright © 한성대학교 멋쟁이사자처럼 11기 All rights reserved.</span></div>
    </div>

    <div class="container2">
                <span class="inform5">
                    <br><br><br><br>
                    PM: 김지은<br>
                    DE: 임채현<br>
                    BE: 박태범, 최용석<br>
                    FE: 이나경, 이수아</span>
    </div>
  </div>
</footer>

</body>

</html>

