{% extends 'base.html' %}
{% load static %}
{%block title %}눈똑들이다{% endblock%}
{% block link %}
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
        <link rel="stylesheet" href="{% static 'css/NoonDDock.css' %}">
        <script type="text/javascript" src="{% static 'js/my_script.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block content %}  
        
        <div class="banner">
            <div class="picture">
                <div class="text-container">
                    <div class="upper-text">
                        <span class="greentext">눈똑들이기</span>
                        <span class="whitetext">는</span>
                    </div>
                    <div class="logo1">중장년층 및 시니어들을 위한 총 5가지의<br> 여가 분야 정보 및 경험을 찾고 우리 가족과 함께 공유해봐요</div>
                    <!-- <button class="write-button">눈똑 작성하기</button> -->
                </div>
            </div>
        </div>
        
        


        <section class="gallery">
            <div class="titlebutton">
            <div class="galleryTitle">오늘의 인기 눈똑</div>
        </div>

        
            <div class="center-section">
                {% for post in post_list %}
            <div class="picAndNameContainer">
                
                <a href="{% url 'noonddockApp:inform' post_id=post.id %}"></a>
                    <div class="picAndName">
                        <div class="imgContainer">
                            {% if post.image %}
                            <img src="{{ post.image.url }}" alt="">
                            {% else %}
                            <img src="http://via.placeholder.com/300x300">
                            {% endif %}
                            <button class="noon-button {% if post.liked_posts %}active{% endif %}" onclick="toggleHeart(this); return false;" data-post-id="{{ post.id }}" data-liked="{{ post.is_liked }}">
                                <span class="noon-number">{{ post.like_count }}</span>
                                <img src="{% static 'img/group 166.png' %}" class="noon-image">
                            </button>
                            
                             
                            <script>
                                function toggleHeart(button) {
                                    var postId = button.getAttribute('data-post-id');
                                    var isLiked = button.getAttribute('data-liked') === 'true';

                                    if (isLiked) {
                                        button.classList.remove('active');
                                        var likeNumberElement = button.querySelector('.noon-number');
                                        likeNumberElement.textContent = parseInt(likeNumberElement.textContent) - 1;
                                        updateLike(postId, 'remove', button);
                                    } else {
                                        button.classList.add('active');
                                        var likeNumberElement = button.querySelector('.noon-number');
                                        likeNumberElement.textContent = parseInt(likeNumberElement.textContent) + 1;
                                        updateLike(postId, 'add', button);
                                    }

                                    // 좋아요 상태 업데이트
                                    button.setAttribute('data-liked', isLiked ? 'false' : 'true');
                                }


                                function updateLike(postId, action, button) {
                                    var url = "{% url 'noonddockApp:update_like_count' %}";
                                    url += '?post_id=' + postId + '&action=' + action;

                                    fetch(url)
                                        .then(response => {
                                            if (response.status !== 200) {
                                                console.log('Error:', response.status);
                                            } else {
                                                // 좋아요 상태 업데이트
                                                var isLiked = button.getAttribute('data-liked') === 'true';
                                                button.setAttribute('data-liked', isLiked ? 'false' : 'true');
                                            }
                                        })
                                        .catch(error => {
                                            console.error('Fetch Error:', error);
                                        });
                                }


                              </script>   
                        </div>
                    <p class="spot">{{ post.title }}</p>
                    <div class="buttons">
                        <a href="{% url 'noonddockApp:inform' post_id=post.id %}" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                        <a href="{% url 'noonddockApp:post_list_view'  %}" class="add-button" style="color: #000;">눈똑 들이기</a>
                    </div>
                
                </div>
                {% endfor %}
              </div>
              
            </div>
            </section>

            <section class="gallery">

            <div id="divSelectors">
                

                
                <form id="categoryForm" method="get" action="{% url 'noonddockApp:post_list_view' %}">
                    <select name="order" onchange="submitForm()" class="styled-select">
                        <option value="none">분야별 카테고리 선택</option>
                        <option value="1">등산/낚시</option>
                        <option value="2">공연/콘서트</option>
                        <option value="3">연극/뮤지컬</option>
                        <option value="4">스포츠/레저</option>
                        <option value="5">전시/행사</option>
                    </select>
                    <img src="{% static 'img/Vector 64.png' %}">
                </form>
            
                <script>
                    function submitForm() {
                        document.getElementById('categoryForm').submit();
                    }
                </script>
                <form id="sortForm" method="get" action="{% url 'noonddockApp:post_list_view' %}">
                    <select name="order" onchange="submitForm()">
                        <option value="none">정렬</option>
                        <option value="recent">최신순</option>
                        <option value="popular">인기순</option>
                    </select>
                </form>
                <script>
                    function submitForm() {
                        document.getElementById('sortForm').submit();
                    }
                </script>
                
            </div>

            <div class="titlebutton">
                {% if request.user.is_authenticated %}
                    <div class="galleryTitle">똑똑, {{ user.username }}님의 눈똑이 왔습니다 ></div>
                {% endif %}
            </div>

                <div class="center-section">
                <div class="picAndNameContainer">
                {% for post in liked_posts %}
                <a href="{% url 'noonddockApp:inform' post_id=post.id %}"></a>
                    <div class="picAndName">
                      <div class="imgContainer">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="게시물 이미지">
                        {% else %}
                        <img src="http://via.placeholder.com/300x300">
                        {% endif %}
                        <button class="noon-button" onclick="toggleHeart(this)">
                            <span class="noon-number">151</span>
                            <img src="{% static 'img/group 166.png' %}" class="noon-image">
                        </button>
                        <script>
                            function toggleHeart(button, postId) {
                                // 버튼의 클래스에 'active'가 포함되어 있는지 확인
                                if (button.classList.contains('active')) {
                                    // 'active' 클래스가 있을 경우, 숫자를 감소시키고 클래스 제거
                                    button.classList.remove('active');
                                    var likeNumberElement = button.querySelector('.noon-number');
                                    likeNumberElement.textContent = parseInt(likeNumberElement.textContent) - 1;
                                } else {
                                    // 'active' 클래스가 없을 경우, 숫자를 증가시키고 클래스 추가
                                    button.classList.add('active');
                                    var likeNumberElement = button.querySelector('.noon-number');
                                    likeNumberElement.textContent = parseInt(likeNumberElement.textContent) + 1;
                                }
                            }
                          </script>
                    </div>
                      <p class="spot">{{ post.title }}</p>
                      <div class="buttons">
                        <a href="{% url 'noonddockApp:inform' post_id=post.id %}" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                        <a href="{% url 'noonddockApp:post_list_view'  %}" class="add-button" style="color: #000;">눈똑 들이기</a>
                    </div>
                {% endfor %}
                    
                  </div>
                </div>
{% endblock %}


        