{% extends 'base.html' %}
{% load static %}
{%block title %}눈똑들이다{% endblock%}
{% block link %}
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
        <link rel="stylesheet" href="{% static 'css/NoonDDock.css' %}">
        <script type="text/javascript" src="{% static 'js/my_script.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block content %}  
        
        <div class="banner">
            <div class="picture">
                <div class="text-container">
                    <div class="upper-text">
                        <span class="greentext">눈똑들이기</span>
                        <span class="whitetext">는</span>
                    </div>
                    <div class="logo1">중장년층 및 시니어들을 위한 총 5가지의<br> 여가 분야 정보 및 경험을 찾고 우리 가족과 함께 공유해봐요</div>
                    <button class="write-button">눈똑 작성하기</button>
                </div>
            </div>
        </div>
        
        


        <section class="gallery">
            <div class="titlebutton">
            <div class="galleryTitle">오늘의 인기 눈똑</div>
        </div>

            <div class="center-section">
            <div class="picAndNameContainer">
                <div class="picAndName">
                  <div class="imgContainer">
                    <img src="{% static 'img/image1.png' %}" alt="">
                    <button class="noon-button" onclick="toggleHeart(this)">
                        <span class="noon-number">151</span>
                        <img src="{% static 'img/group 166.png' %}" class="noon-image">
                    </button>
                </div>
                  <p class="spot">강릉</p>
                  <div class="buttons">
                    <a href="{% url '/InformPage/Inform.html' %}" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                    <a href="#" class="add-button" style="color: #000;">눈똑 들이기</a>
                </div>
                </div>
                <div class="picAndName">
                  <div class="imgContainer">
                    <img src="{% static 'img/image2.png' %}" alt="">
                    <button class="noon-button" onclick="toggleHeart(this)">
                        <span class="noon-number">151</span>
                        <img src="{% static 'img/group 166.png' %}" class="noon-image">
                    </button></div>
                  <p class="spot">휴양지 느낌의 감성 분위기 캠핑 스팟</p>
                  <div class="buttons">
                    <a href="{% url '/InformPage/Inform.html' %}" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                    <a href="#" class="add-button" style="color: #000;">눈똑 들이기</a>
                </div>
                </div>
                <div class="picAndName">
                    <div class="imgContainer">
                        <img src="{% static 'img/image3.png' %}" alt="">
                        <button class="noon-button" onclick="toggleHeart(this)">
                            <span class="noon-number">151</span>
                            <img src="{% static 'img/group 166.png' %}" class="noon-image">
                        </button></div>
                    <p class="spot">휴양지 느낌의 감성 분위기 캠핑 스팟</p>
                    <div class="buttons">
                        <a href="{% url '/InformPage/Inform.html' %}" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                    <a href="#" class="add-button" style="color: #000;">눈똑 들이기</a>
                    </div>
                </div>
              </div>
            </div>
            </section>

            <section class="gallery">

            <div id="divSelectors">
                <select>
                    <option value="none">지역별 카테고리 선택</option>
                    <option value="1">서울/경기/인천</option>
                    <option value="2">강원</option>
                    <option value="3">대전</option>
                    <option value="4">세종/충남/충북</option>
                    <option value="5">부산/울산</option>
                    <option value="6">강남/경북</option>
                    <option value="7">광주/전남/전북</option>
                    <option value="8">제주</option>
                </select>
                <select>
                    <option value="none">분야별 카테고리 선택</option>
                    <option value="1">등산/낚시</option>
                    <option value="2">공연/콘서트</option>
                    <option value="3">연극/뮤지컬</option>
                    <option value="4">스포츠/레저</option>
                    <option value="5">전시/행사</option>
                </select>
                <select>
                    <option value="none">정렬</option>
                    <option value="1">최신순</option>
                    <option value="2">인기순</option>
                </select>
            </div>

            <div class="titlebutton">
                <div class="galleryTitle">똑똑, 마라탕님을 위한 맞춤 눈똑이 왔습니다 ></div>
            </div>
    
                <div class="center-section">
                <div class="picAndNameContainer">
                    <div class="picAndName">
                      <div class="imgContainer">
                        <img src="{% static 'img/image1.png' %}" alt="">
                        <button class="noon-button" onclick="toggleHeart(this)">
                            <span class="noon-number">151</span>
                            <img src="{% static 'img/group 166.png' %}" class="noon-image">
                        </button>
                    </div>
                      <p class="spot">강릉</p>
                      <div class="buttons">
                        <a href="{% url '/InformPage/Inform.html' %}" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                        <a href="#" class="add-button" style="color: #000;">눈똑 들이기</a>
                    </div>
                    </div>
                    <div class="picAndName">
                      <div class="imgContainer">
                        <img src="{% static 'img/image2.png' %}" alt="">
                        <button class="noon-button" onclick="toggleHeart(this)">
                            <span class="noon-number">151</span>
                            <img src="{% static 'img/group 166.png' %}" class="noon-image">
                        </button></div>
                      <p class="spot">휴양지 느낌의 감성 분위기 캠핑 스팟</p>
                      <div class="buttons">
                        <a href="{% url '/InformPage/Inform.html' %}" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                        <a href="#" class="add-button" style="color: #000;">눈똑 들이기</a>
                    </div>
                    </div>
                    <div class="picAndName">
                        <div class="imgContainer">
                            <img src="{% static 'img/image3.png' %}" alt="">
                            <button class="noon-button" onclick="toggleHeart(this)">
                                <span class="noon-number">151</span>
                                <img src="{% static 'img/group 166.png' %}" class="noon-image">
                            </button></div>
                        <p class="spot">휴양지 느낌의 감성 분위기 캠핑 스팟</p>
                        <div class="buttons">
                            <a href="{% url '/InformPage/Inform.html' %}" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                        <a href="#" class="add-button" style="color: #000;">눈똑 들이기</a>
                        </div>
                    </div>
                  </div>
                </div>
{% endblock %}


        