<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>눈똑들이다</title>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="main.css">
        <script type="text/javascript" src="script.js"></script>
    </head>

    <body>
        <nav>
            <div class="navContainer1">
                <div class="logo-container">
                    <img src="logo.png" alt="Logo">
                    <div class="logo-text">NoonDDock</div> 
                </div>
                <div id="NoonDDock"><a href="" class="green">눈똑들이기</a></div>
                <div id="family"><a href="" class="green">우리 가족 눈똑</a></div>
                <div id="my"><a href="" class="green">나의 눈똑</a></div>
            </div>

            <div class="navContainer2">
                <div class="login"><a href="/LoginPage/login.html" class="green">로그인 |</a></div>
                <div class="join"><a href="/JoinPage/join.html" class="green">회원가입</a></div>
            </div>
        </nav>

        
        <div class="banner">
            <div class="picture">
            <div class="logo1">여가 및 취향 공유의 모든 것,</div>
            <div class="logo2">지금 시작해보세요</div>
        </div>
        </div>


        <section class="gallery">
            <div class="titlebutton">
            <div class="galleryTitle">오늘의 인기 눈똑</div>
            <div class="button-container">
                <div class="custom-button">뮤지컬</div>
                <div class="custom-button">연극</div>
            </div>
        </div>

            <div class="center-section">
            <div class="picAndNameContainer">
                <div class="picAndName">
                  <div class="imgContainer"><img src="47.png" alt=""></div>
                  <p class="musical">뮤지컬 <사칠></p>
                </div>
                <div class="picAndName">
                  <div class="imgContainer"><img src="remi.png" alt=""></div>
                  <p class="musical">뮤지컬 <레미제라블></p>
                </div>
                <div class="picAndName">
                    <div class="imgContainer"><img src="agatha.png" alt=""></div>
                    <p class="musical">뮤지컬 <아가사></p>
                  </div>
                  <div class="picAndName">
                    <div class="imgContainer"><img src="hide.png" alt=""></div>
                    <p class="musical">뮤지컬 <지킬앤하이드></p>
                  </div>
              </div>
            </div>
        </div>

             

        <section class="gallery">
            <div class="titlebutton">
            <div class="galleryTitle">오늘의 인기 눈똑</div>
            <div class="button-container">
                <div class="custom-button">등산</div>
                <div class="custom-button">낚시</div>
            </div>
        </div>

                <div class="picAndNameContainer">
                    <div class="picAndName">
                      <div class="imgContainer"><img src="fishing1.png" alt=""></div>
                      <p class="name">인천광역시 옹진군 영흥면 내리 8-213</p>
                    </div>
                    <div class="picAndName">
                      <div class="imgContainer"><img src="fishing2.png" alt=""></div>
                      <p class="name">인천광역시 옹진군 영흥면 내리 8-213</p>
                    </div>
                    <div class="picAndName">
                        <div class="imgContainer"><img src="fishing3.png" alt=""></div>
                        <p class="name">인천광역시 옹진군 영흥면 내리 8-213</p>
                      </div>
                      <div class="picAndName">
                        <div class="imgContainer"><img src="fishing4.png" alt=""></div>
                        <p class="name">인천광역시 옹진군 영흥면 내리 8-213</p>
                      </div>
                  </div>
            </div>
            
      
        
              <div class="banner2">
                <div class="logo3">노랑풍선 x 눈똑 특별 할인 패키지</div>
            <div class="logo4">부모님과 함께 플리트비체국립공원<br>
            관광 포함 동유럽 7박 8일 패키지</div>
            <a href=""><div class="myLog"><span>바로가기</span></div></a>
                </div>
              </div>
              
              

        </section>
        <footer>
            <div class="footercontainer">
                <div class="container1">
                <div class="inform1">
                    <span>이용약관&nbsp;</span>
                    <span>&nbsp;개인정보처리방침</span>
                </div>
                <div class="inform2">
                    <span>상호명: 눈똑&nbsp;&nbsp;</span>
                </div>
                <div  class="copy"><span>Copyright © 한성대학교 멋쟁이사자처럼 11기 All rights reserved.</span></div>
            </div>
    
            <div class="container2">
                <span  class="inform5">
                    <br><br><br><br>
                    PM: 김지은<br>
                    DE: 임채현<br>
                    BE: 박태범, 최용석<br>
                    FE: 이나경, 이수아</span>
            </div>
        </div>
        </footer>
       
        </body>

    </html>

        