<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>눈똑들이다</title>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="Inform.css">
        <script type="text/javascript" src="script.js"></script>
    </head>

    <body>
        <nav>
            <div class="logo-container">
                <a href="/MainPage/main.html"><img src="logo.png" alt="Logo"></a> 
                <div class="logo-text">NoonDDock</div> 
            </div>
            <div class="navContainer1">
                
                <div id="NoonDDock" class="underline"><a href="/NoonDDockPage/NoonDDock.html" class="green">눈똑들이기</a></div>
                <div id="family"><a href="/MyFamilyPage/MyFamily.html" class="green">우리 가족 눈똑</a></div>
                <div id="my"><a href="" class="green">나의 눈똑</a></div>
            </div>

            <div class="navContainer2">
                <div class="login"><a href="/LoginPage/login.html" class="green">로그인 |</a></div>
                <div class="join"><a href="/JoinPage/join.html" class="green">회원가입</a></div>
            </div>
        </nav>
        
        <section id="sec1">
        
        <div class="titlecon">
        <p class="maintitle">인천의 숨겨진 낚시 스팟</p>
    </div>

    <div class="titlebutton">
        <div class="button-container">
            <div class="custom-button">등산</div>
            <div class="custom-button">낚시</div>
        </div>
    </div>
    
        

    <section class="gallery">
        

        <div class="center-section">
        <div class="picAndNameContainer">
            <div class="picAndName">
              <div class="imgContainer">
                <img src="fish.jpeg" alt="">
            </div>
              <p class="spot">위치</p>
              <p class="infor">인천광역시 웅진군 영흥면 내리 8-213</p>
              <p class="spot">한줄 눈똑</p>
              <p class="infor">인천 최고의 낚시 스팟~!</p>
            </div>
            <div class="picAndName">
              <div class="imgContainer">
                <img src="unsplash_ufFIweqSPd4.png" alt="">
            </div>
              <p class="spot">주차</p>
              <p class="infor">근처 부둣가에 주차를 추천합니다.</p>
              <p class="spot">예약</p>
              <p class="infor">별도예약 X</p>
            </div>
            <div class="picAndName1">
                <div class="imgContainer">
                    <img src="mount.jpeg" alt="">
                </div>
                <p class="spot">눈똑 수</p>
                <p class="infor1">230</p>
            </div>
          </div>
        </div>

            

        
       
    </section>

</section>

        <section class="chat">
                <div id="comment">실시간 눈똑 근황</div>
        
                <div id="comment-write">
                    <img id="cuser1" src="user2.png">
                    <textarea placeholder="해당 게시물에 대한 00님의 생각을 적어주세요."></textarea>
                    <div id="cbtn1">등록</div>
                </div>
                
        
                <div id="comment-write1">
                    <img id="cuser1" src="user2.png">
                    <div id="text-container">
                        <div id="ctext2">
                            낚시 좋아하는 울 아빠 카톡으로 링크 보내드렸더니 보시구는 바로 다녀오셨어요^^ 
                            고기가 많아서 좋긴한데 이미 유명한 낚시 포인트라 사람이 좀 많았다구는 하시더라구요.
                        </div>
                    </div>
                </div>
                
                <div id="comment-write1">
                    <img id="cuser1" src="user2.png">
                    <div id="text-container1">
                        <div id="ctext2">
                            인천 주민인데, 여기 진짜 낚시 포인트에요!! 주변에 횟집도 많아서 바로 식사하기에도 좋아요
                        </div>
                    </div>
                </div>

                <div id="comment-write1">
                    <img id="cuser1" src="user2.png">
                    <div id="text-container1">
                        <div id="ctext2">
                            개인적으로는 사람이 너무 많아서 별로였습니다 ㅜㅜ
                        </div>
                    </div>
                </div>

                <div id="comment-write1">
                    <img id="cuser1" src="user2.png">
                    <div id="text-container">
                        <div id="ctext2">
                            낚시 좋아하는 울 아빠한테 알려드렸더니 차로 30분거리라고, 바로 다녀오시더라구요~ 
이런 정보 앞으로도 많이 얻어갔으면 좋겠습니다~~
                        </div>
                    </div>
                </div>
               
                <div id="comment-write1">
                    <img id="cuser1" src="user2.png">
                    <div id="text-container1">
                        <div id="ctext2">
                            근처에 횟집도 많고 바다 뷰도 은근 좋아요~! 낚시 포인트로 추천합니다.
                        </div>
                    </div>
                </div>
               
                <div id="buttons-container">

                    <button class="custom-button1" id="button1">눈똑들이기</button>
                    <a href="/NoonDDockListPage/list.html">
                    <button class="custom-button1" id="button2">목록으로 가기</button>
                    </a>
                </div>
               
        
            


        </section>


        <footer>
            <div class="footercontainer">
                <div class="container1">
                <div class="inform1">
                    <span>이용약관&nbsp;</span>
                    <span>&nbsp;개인정보처리방침</span>
                </div>
                <div class="inform2">
                    <span>상호명: 눈똑&nbsp;&nbsp;</span>
                </div>
                <div  class="copy"><span>Copyright © 한성대학교 멋쟁이사자처럼 11기 All rights reserved.</span></div>
            </div>
    
            <div class="container2">
                <span  class="inform5">
                    <br><br><br><br>
                    PM: 김지은<br>
                    DE: 임채현<br>
                    BE: 박태범, 최용석<br>
                    FE: 이나경, 이수아</span>
            </div>
        </div>
        </footer>
       
        </body>

    </html>

        