{% extends 'base.html' %}
{% load static %}
{%block title %}눈똑들이다{% endblock%}
{% block link %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Inform.css' %}">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% block content %} 
        <section id="sec1">
        <div class="titlecon">
        <p class="maintitle">{{ post.title }}</p>
    </div>

    <div class="titlebutton">
        <div class="button-container">
            <div class="custom-button">등산</div>
            <div class="custom-button">낚시</div>
        </div>
    </div>
    
        

    <section class="gallery">
        

        <div class="center-section">
            <div class="picAndNameContainer">
                <div class="picAndName">
                    <div class="imgContainer">
                        {% if post.images.exists %}
                            <img src="{{ post.images.all.0.image.url }}" alt="">
                        {% else %}
                            <img src="http://via.placeholder.com/300x300">
                        {% endif %}
                    </div>
                    <p class="spot">위치</p>
                    <p class="infor">{{ post.location }}</p>
                    <p class="spot">한줄 눈똑</p>
                    <p class="infor">{{ post.summary }}</p>
                </div>
                <div class="picAndName">
                    <div class="imgContainer">
                        {% if post.images.exists %}
                            <img src="{{ post.images.all.1.image.url }}" alt="">
                        {% else %}
                            <img src="http://via.placeholder.com/300x300">
                        {% endif %}
                    </div>
                    <p class="spot">주차</p>
                    <p class="infor">{{ post.parking }}</p>
                    <p class="spot">예약</p>
                    <p class="infor">{{ post.reservation }}</p>
                </div>
                <div class="picAndName1">
                    <div class="imgContainer">
                        {% if post.images.exists %}
                            <img src="{{ post.images.all.2.image.url }}" alt="">
                        {% else %}
                            <img src="http://via.placeholder.com/300x300">
                        {% endif %}
                    </div>
                    <p class="spot">눈똑 수</p>
                    <p class="infor1">{{ post.like_count }}</p>
                </div>
            </div>
            
        </div>
    </section>
</section>
        <section class="chat">
                <div id="comment">실시간 눈똑 근황</div>
                <form action="{% url 'noonddockApp:comment_create' post.id %}" id="signup-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <div id="comment-write">
                    <div class="profile">
                    <img id="cuser1" src="{% static 'img/user2.png' %}">
                    <p>{{user.username}}</p>
                </div>
                    <textarea name="content" id="content" placeholder="해당 게시물에 대한 여러분의 생각을 적어주세요."></textarea>
                    <button type="submit"id="cbtn1">등록</button>
                </div>

                {% for comment in comments %}
                <div id="comment-write1">
                    <div class="profile">
                    <img id="cuser2" src="{% static 'img/user2.png' %}">
                    <span>{{ comment.writer.username }}</span>
                    </div>
                    <div id="text-container">
                        <div id="ctext2">
                            {{ comment.content }}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div id="buttons-container">

                    <a href="{% url 'noonddockApp:noonddock' %}" class="custom-button2" id="button1">
                        눈똑들이기
                        <button class="custom-button2"></button>
                    </a>
                    <button class="custom-button1" id="button2" onclick="goBack()">목록으로 가기</button>
                        <script>
                            function goBack() {
                                window.history.back();
                            }
                        </script>
                    </a>
                </div>
        </section>
{% endblock %}