{% extends 'base.html' %}
{% load static %}
{%block title %}눈똑들이다{% endblock%}
{% block link %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Inform.css' %}">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% block content %} 
        <section id="sec1">
        <div class="titlecon">
        <p class="maintitle">인천의 숨겨진 낚시 스팟</p>
    </div>

    <div class="titlebutton">
        <div class="button-container">
            <div class="custom-button">등산</div>
            <div class="custom-button">낚시</div>
        </div>
    </div>
    
        

    <section class="gallery">
        <div class="center-section">
            <div class="picAndNameContainer">
                <div class="picAndName">
                    <div class="imgContainer">
                        <img src="{{ post.image.url }}" alt="">           
                    </div>
                </div>
                <div class="picAndName">
                    <p class="spot">위치</p>
                    <p class="infor">{{ post.location }}</p>
                </div>
                <div class="picAndName1">
                    <p class="spot">눈똑 수</p>
                    <p class="infor1">{{ post.like_count }}</p>
                </div>
            </div>
            <div class="picAndNameContainer">
                <div class="picAndName">
                    <p class="spot">한줄 눈똑</p>
                    <p class="infor">{{ post.summary }}</p>
                </div>
                <div class="picAndName">
                    <p class="spot">주차</p>
                    <p class="infor">{{ post.parking }}</p>
                </div>
                <div class="picAndName1">
                    <p class="spot">예약</p>
                    <p class="infor">{{ post.reservation }}</p>
                </div>
            </div>
        </div>
    </section>
    
</section>
        <section class="chat">
                <div id="comment">실시간 눈똑 근황</div>
        
                <div id="comment-write">
                    <img id="cuser1" src="{% static 'img/user2.png' %}">
                    <textarea placeholder="해당 게시물에 대한 00님의 생각을 적어주세요."></textarea>
                    <div id="cbtn1">등록</div>
                </div>
                
        
                <div id="comment-write1">
                    <img id="cuser1" src="{% static 'img/user2.png' %}">
                    <div id="text-container">
                        <div id="ctext2">
                            낚시 좋아하는 울 아빠 카톡으로 링크 보내드렸더니 보시구는 바로 다녀오셨어요^^ 
                            고기가 많아서 좋긴한데 이미 유명한 낚시 포인트라 사람이 좀 많았다구는 하시더라구요.
                        </div>
                    </div>
                </div>
                
                <div id="comment-write1">
                    <img id="cuser1" src="{% static 'img/user2.png' %}">
                    <div id="text-container1">
                        <div id="ctext2">
                            인천 주민인데, 여기 진짜 낚시 포인트에요!! 주변에 횟집도 많아서 바로 식사하기에도 좋아요
                        </div>
                    </div>
                </div>

                <div id="comment-write1">
                    <img id="cuser1" src="{% static 'img/user2.png' %}">
                    <div id="text-container1">
                        <div id="ctext2">
                            개인적으로는 사람이 너무 많아서 별로였습니다 ㅜㅜ
                        </div>
                    </div>
                </div>

                <div id="comment-write1">
                    <img id="cuser1" src="{% static 'img/user2.png' %}">
                    <div id="text-container">
                        <div id="ctext2">
                            낚시 좋아하는 울 아빠한테 알려드렸더니 차로 30분거리라고, 바로 다녀오시더라구요~ 
이런 정보 앞으로도 많이 얻어갔으면 좋겠습니다~~
                        </div>
                    </div>
                </div>
               
                <div id="comment-write1">
                    <img id="cuser1" src="{% static 'img/user2.png' %}">
                    <div id="text-container1">
                        <div id="ctext2">
                            근처에 횟집도 많고 바다 뷰도 은근 좋아요~! 낚시 포인트로 추천합니다.
                        </div>
                    </div>
                </div>
               
                <div id="buttons-container">

                    <button class="custom-button1" id="button1">눈똑들이기</button>
                    <a href="/NoonDDockListPage/list.html">
                    <button class="custom-button1" id="button2">목록으로 가기</button>
                    </a>
                </div>
               
        
            


        </section>
{% endblock %}