{% extends 'base.html' %}
{% load static %}
{%block title %}눈똑들이다{% endblock%}
{% block link %}
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
        <script type="text/javascript" src="{% static 'js/my_script.js' %}"></script>
        <style>
            .pnc {
    display: grid;
    grid-template-columns: 1fr;  /* 한 줄에 하나의 프레임만 생성 */
    grid-gap: 10px; 
}
        </style>
{% endblock %}
{% block content %}
        
        <div class="titlecon">
        <p class="maintitle">눈똑들이기</p>
    </div>
    
    <section class="gallery">

        <div id="divSelectors">
            

            <form id="categoryForm" method="get" action="{% url 'noonddockApp:post_list_view' %}">
                <select name="order" onchange="submitForm()">
                    <option value="none">분야별 카테고리 선택</option>
                    <option value="1">등산/낚시</option>
                    <option value="2">공연/콘서트</option>
                    <option value="3">연극/뮤지컬</option>
                    <option value="4">스포츠/레저</option>
                    <option value="5">전시/행사</option>
                </select>
            </form>
            
            <script>
                function submitForm() {
                    document.getElementById('categoryForm').submit();
                }
            </script>
            <form id="sortForm" method="get" action="{% url 'noonddockApp:post_list_view' %}">
                <select name="order" onchange="submitForm()">
                    <option value="none">정렬</option>
                    <option value="recent">최신순</option>
                    <option value="popular">인기순</option>
                </select>
            </form>
            <script>
                function submitForm() {
                    document.getElementById('sortForm').submit();
                }
            </script>
        </div>

        <div class="titlebutton">
            <div class="galleryTitle">{{ post.title }} 등산/낚시 눈똑들여보세요</div>
        </div>

        <div class="center-section">
            <div class="pnc">
                {% for post in post_list %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <!-- 각 세 번째 요소마다 새로운 컨테이너 시작 -->
                        <div class="picAndNameContainer">
                    {% endif %}
                    <div class="picAndName">
                        <a href="{% url 'noonddockApp:inform' post_id=post.id %}">
                            <div class="imgContainer">
                            {% if post.image %}
                            <img src="{{ post.image.url }}" alt="">
                            {% else %}
                            <img src="http://via.placeholder.com/300x300">
                            {% endif %}
                            <button class="noon-button" onclick="toggleHeart(this)" data-post-id="{{ post.id }}" data-liked="{{ post.is_liked }}">
        
                                <span class="noon-number">{{ post.like_count }}</span>
                                <img src="{% static 'img/Group 166.png' %}" class="noon-image">
                                        
                            </button> 
                            <script>
                                function toggleHeart(button, postId) {
                                    // 버튼의 클래스에 'active'가 포함되어 있는지 확인
                                    if (button.classList.contains('active')) {
                                        // 'active' 클래스가 있을 경우, 숫자를 감소시키고 클래스 제거
                                        button.classList.remove('active');
                                        var likeNumberElement = button.querySelector('.noon-number');
                                        likeNumberElement.textContent = parseInt(likeNumberElement.textContent) - 1;
                                    } else {
                                        // 'active' 클래스가 없을 경우, 숫자를 증가시키고 클래스 추가
                                        button.classList.add('active');
                                        var likeNumberElement = button.querySelector('.noon-number');
                                        likeNumberElement.textContent = parseInt(likeNumberElement.textContent) + 1;
                                    }
                                }
                            </script>   
                              
                    </div>
                    <div class="descriptionContainer">
                        <p class="spot">{{ post.title }}</p>
                        <div class="buttons">
                            <a href="{% url 'noonddockApp:inform' post_id=post.id %}" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                            <a href="{% url 'noonddockApp:post_list_view'  %}" class="add-button" style="color: #000;">목록 전체보기</a>
                        </div>
                    </div>
                </a>
            </div>

            {% if forloop.last or forloop.counter|divisibleby:3 %}
                <!-- 마지막 요소이거나 세 번째 요소마다 컨테이너 끝 -->
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
</section>
{% endblock %}