{% extends 'base.html' %}
{% load static %}
{%block title %}눈똑들이다{% endblock%}
{% block link %}
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
        <script type="text/javascript" src="{% static 'js/my_script.js' %}"></script>
{% endblock %}
{% block content %}

    <body>
        <nav>
            <div class="logo-container">
                <a href="/MainPage/main.html"><img src="{% static 'img/logo.png' %}" alt="Logo"></a> 
                <div class="logo-text">NoonDDock</div> 
            </div>
            <div class="navContainer1">
                
                <div id="NoonDDock" class="underline"><a href="/NoonDDockPage/NoonDDock.html" class="green">눈똑들이기</a></div>
                <div id="family"><a href="/MyFamilyPage/MyFamily.html" class="green">우리 가족 눈똑</a></div>
                <div id="my"><a href="" class="green">나의 눈똑</a></div>
            </div>

            <div class="navContainer2">
                <div class="login"><a href="/LoginPage/login.html" class="green">로그인 |</a></div>
                <div class="join"><a href="/JoinPage/join.html" class="green">회원가입</a></div>
            </div>
        </nav>
        
        <div class="titlecon">
        <p class="maintitle">눈똑들이기</p>
    </div>
    
    <section class="gallery">

        <div id="divSelectors">
            <select>
                <option value="none">지역별 카테고리 선택</option>
                <option value="1">서울/경기/인천</option>
                <option value="2">강원</option>
                <option value="3">대전</option>
                <option value="4">세종/충남/충북</option>
                <option value="5">부산/울산</option>
                <option value="6">강남/경북</option>
                <option value="7">광주/전남/전북</option>
                <option value="8">제주</option>
            </select>
            <select>
                <option value="none">분야별 카테고리 선택</option>
                <option value="1">등산/낚시</option>
                <option value="2">공연/콘서트</option>
                <option value="3">연극/뮤지컬</option>
                <option value="4">스포츠/레저</option>
                <option value="5">전시/행사</option>
            </select>
            <select>
                <option value="none">정렬</option>
                <option value="1">최신순</option>
                <option value="2">인기순</option>
            </select>
        </div>

        <div class="titlebutton">
            <div class="galleryTitle">인천광역시 등산/낚시 눈똑들여보세요</div>
        </div>

            <div class="center-section">
            <div class="picAndNameContainer">
                <div class="picAndName">
                  <div class="imgContainer">
                    <img src="image1.png" alt="">
                    <button class="noon-button" onclick="toggleHeart(this)">
                        <span class="noon-number">151</span>
                        <img src="group 166.png" class="noon-image">
                    </button>
                </div>
                  <p class="spot">강릉</p>
                  <div class="buttons">
                    <a href="/InformPage/Inform.html" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                    <a href="#" class="add-button" style="color: #000;">눈똑 들이기</a>
                </div>
                </div>
                <div class="picAndName">
                  <div class="imgContainer">
                    <img src="image2.png" alt="">
                    <button class="noon-button" onclick="toggleHeart(this)">
                        <span class="noon-number">151</span>
                        <img src="group 166.png" class="noon-image">
                    </button></div>
                  <p class="spot">휴양지 느낌의 감성 분위기 캠핑 스팟</p>
                  <div class="buttons">
                    <a href="/InformPage/Inform.html" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                    <a href="#" class="add-button" style="color: #000;">눈똑 들이기</a>
                </div>
                </div>
                <div class="picAndName">
                    <div class="imgContainer">
                        <img src="image3.png" alt="">
                        <button class="noon-button" onclick="toggleHeart(this)">
                            <span class="noon-number">151</span>
                            <img src="group 166.png" class="noon-image">
                        </button></div>
                    <p class="spot">휴양지 느낌의 감성 분위기 캠핑 스팟</p>
                    <div class="buttons">
                        <a href="/InformPage/Inform.html" class="detail-button" style="color: #000;">상세 눈똑보기</a>
                    <a href="#" class="add-button" style="color: #000;">눈똑 들이기</a>
                    </div>
                </div>
              </div>
            </div>
    

    </section>
{% endblock %}


        