{% extends 'base.html' %}
{% load static %}
{%block title %}눈똑들이다{% endblock%}
{% block link %}
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kyobo+Handwriting 2022&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% block content %}       
        <div class="banner">
            <div class="picture"><img src="{% static 'img/image 23.jpg' %}" alt=""></div>
            <div class="logo1">여가 및 취향 공유의 모든 것,</div>
            <div class="logo2">지금 시작해보세요</div>
        </div>

        <section class="gallery">
            <div class="titlebutton">
            <div class="galleryTitle">오늘의 인기 눈똑</div>
            <div class="button-container">
                <div class="custom-button">뮤지컬</div>
                <div class="custom-button">연극</div>
            </div>
        </div>

            <div class="center-section">
            <div class="picAndNameContainer">
    {% for post in post_list %}
      {% if post.category == 0 or post.category == 1 %}
        <div class="postContainer">
            <div class="imgContainer">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="">
                {% else %}
                <img src="http://via.placeholder.com/300x300">
                {% endif %}
            </div>
            <p class="musical">{{ post.title }}</p>
        </div>
        {% endif %}
    {% endfor %}
</div>

        </section>


        <section class="gallery">
            <div class="titlebutton">
            <div class="galleryTitle">우리 가족 눈똑 랭킹</div>
            <div class="button-container">
                <div class="custom-button">등산</div>
                <div class="custom-button">낚시</div>
            </div>
        </div>

        <div class="picAndNameContainer">
          {% for post in post_list %}
            {% if post.category == 2 or post.category == 3 %}
              <div class="postContainer">
                  <div class="imgContainer">
                      {% if post.image %}
                      <img src="{{ post.image.url }}" alt="">
                      {% else %}
                      <img src="http://via.placeholder.com/300x300">
                      {% endif %}
                  </div>
                  <p class="musical">{{ post.title }}</p>
              </div>
              {% endif %}
          {% endfor %}
            </div>
            
      
        </section>
        
              <div class="banner2">
                <div class="logo3">노랑풍선 x 눈똑 특별 할인 패키지</div>
            <div class="logo4">부모님과 함께 플리트비체국립공원<br>
            관광 포함 동유럽 7박 8일 패키지</div>
            <a href=""><div class="myLog"><span>바로가기</span></div></a>
                </div>
              </div>
{% endblock %}

        